
:root {
    --background: whitesmoke;
    --primary-color: #0a4221;
    --secondary-color: #0e334b;
    --card-color:#dcdcdc;
    --font-header: 'Special Gothic Expanded One', sans-serif;
    --font-body: 'Arimo', sans-serif;
}



@media (max-width: 1000px) {
    .home {
        grid-template-columns: 1fr;
        height: auto;
    }

    .title h2 {
    margin-left:20px;
    font-family: var(--font-header);
    font-weight: bold;
}
    
}



@media (max-width: 768px) {
    .home {
        grid-template-columns: 1fr;
        width:auto;
        height: auto;
        padding :0 10px;
    }

    .icon1{
        display:block;
        height:30px;
        width:30px;
        margin-left: 80px;
    }

    .icon{
        display:none;
    }

    header{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap:0px;
    }

    .view-toggle{
        display:none;
    }
     #menu{
        display:block;
        margin-right: 20px;
        font-size: 2rem;
        background:none;
        border: none;
        cursor: pointer;
        columns: var(--primary-color);
    }

    #navMenu{
        display:none;
    }

    #navvMenu {
     display: none;
    }

    #navvMenu.show{
        display:block;
        background-color: whitesmoke;
        position: absolute;
        width: 100%;
        margin: 0;
    }

    #navvMenu li{
        list-style: none;
        padding: 10px;

    }

    #navvMenu ul :hover {
     background-color: var(--secondary-color);
     color: white;
    }


     #navvMenu ul {
        padding:0;
    }

        #navvMenu a {
        margin-left: 20px;
    }


    .span1, .span2, .span3 {
        text-align: center;
    }

    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer1, .footer3 {
        text-align: start;
    }

    .Hero{
        height:200px;
    }

    .Hero button{ 
        margin-top: 120px;
    }

    
header span {
    font-size: 1.2rem;
   
}

.members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 67.5rem;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 30px;
}
}
